h1 {
    background-color: rgb(226, 170, 252);
    width: 100%;
    max-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Zen Tokyo Zoo', cursive;
}

.bg {
    max-width: 500px;
}

.todo {
    display: grid;
    grid-template-columns: 100px 30px;
    grid-template-rows: 30px;
    margin-top: 28px;

}

.todo-title {    
    display: grid;
    width: 100%;
    max-width: 500px;
    height: 160px;
    border:3px solid violet ;
}

.todo-list {
    background-color: rgb(226, 170, 252);
    width: 100%;
    max-width: 530px;
    position: relative;
}
.add-todo {
    background-color: rgb(226, 170, 252);
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    margin-left: 450px;
    margin-top: 10px;
}
.line-todo{
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    display: inline;
}
.remove-todo {
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    display: inline;
    margin-left: 250px ;
    width: 56px;
}
.like-todo {
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    width: 56px;
    height: 30px;
    display: inline;
    margin-left: 10px;
    position: absolute;
    right: 0px;
}